// Override BS:
/* $success: green; */

$bodybg: #fefaf2;
$bodybgdark: #534f47;
$bodycolor: #333;

$bordercolor1: #797979;
$bordercolor2: #d5cbb7;

$brownishtext: #a0947d;
$griege: #b0a999;
$goldyellow: #f4ba55;

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
