.block {
  position: relative;
  padding: 3rem 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    font-size: 3rem;
    letter-spacing: -1px;
    line-height: 1.1;
  }

  &__text {
    max-width: 600px;
    margin: 2rem auto 0 auto;
    font-family: 'PoppinsSemiBold';
  }

  &__image {
    display: block;
  }
}

.blocksingletext {
  text-align: center;
}

.textwithimage {
  padding: 0;

  &__texthalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
  }

  &__textcontent {
    padding: 3rem;
  }

  &__imagehalf {
    padding: 3rem 0;
    display: flex;
  }

  &__image {
    max-width: 66.66%;
    max-height: 66vh;
    margin: auto;
  }

  &__text {
    margin-left: 0;
  }
}

// Custom
.textwithimage.arles {
  color: white;
}
.textwithimage.abbey {
  color: #2a5913;

  .textwithimage__imagehalf {
    padding: 5rem 0;
  }
}