@import '../styles/custom-vars';

.page__countries {

  .countrycodes {
    display: flex;
    align-items: start;
    justify-content: end;

    &__help {
      display: inline-block;
      margin: .5rem .75rem 0 0;
    }

    &__switch {
      margin-top: -1rem;
    }
  }

  .countrieslist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: calc(100% / 3);
      display: flex;
      align-items: center;
      padding-bottom: 3rem;

      &:hover * {
        color: dodgerblue;
      }
    }

    &__flag {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid $bodycolor;
    }

    &__link {
      display: flex;
      align-items: center;
    }

    &__linktext {
      padding-left: 1rem;
      font-size: 1.5rem;
      font-family: 'RestoraBold';
      color: $bodycolor;
      line-height: 1.2;

      small {
        display: block;
      }
    }
  }
}
