.page__country {
  .comparison {
    background-color: white;
    padding: 1rem;
    border: 1px solid gray;
  }

  // COUNTRY DETAIL
  .countrydetails {
    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
}
