@import '../../styles/custom-vars';
@import './country-components/OffCanvasCompare.scss';

.page__country {
  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .comparison {
    background-color: transparent;
    margin-bottom: 2.1rem;
  }

  // COUNTRY DETAIL
  .countrydetails {
    .images {
      text-align: center;
      padding-left: 1rem;
      padding-right: 2rem;
      border-right: 1px solid $bordercolor2;

      img {
        display: block;
        max-width: 100%;
        max-height: 200px;
        margin: 0 auto 2rem auto;
      }
    }

    .maindetails {
      padding-left: 0.5rem;
      padding-right: 2rem;

      .hstack {
        align-items: flex-end;
        border-bottom: 1px solid $bordercolor2;

        .key {
          font-size: 1.5rem;
          padding-bottom: 6px;
        }

        .value {
          font-size: 3rem;
          font-family: 'RestoraBold';
          color: dodgerblue;

          small {
            font-size: 50%;
          }

          .badge.currency {
            font-size: 1rem;
            background-color: transparent !important;
            border: 1px solid dodgerblue;
            color: dodgerblue;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  .indicatorlist {
    border-color: $bordercolor2;

    .list-group-item {
      border-color: $bordercolor2;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.3s;

      &:hover {
        background-color: white;
        color: dodgerblue;
      }
    }
  }

  // Sections
  section {
    h2 {
      margin-top: 4rem;
      margin-bottom: 2rem;

      small {
        font-family: inherit;
        font-size: 50%;
      }
    }

    p.description {
      width: 66.66%;
      font-size: 13px;
      margin-top: -1.5rem;
      margin-bottom: 2rem;
    }

    .alert {
      width: 50%;
    }

    .table {
      table-layout: fixed;

      &.table-cpi {
        border-color: $bordercolor2;

        td {
          &.cpi--red {
            color: #d54141;
          }
          &.cpi--redder {
            background-color: #f9dde2;
            color: #a72121;
          }
          &.cpi--green {
            color: #3aab26;
          }
        }
      }
    }

    &.gdpcapita {
      rect.uniqueBarName.empty-bar {
        position: relative;
      }
    }

    .lifechart {
      height: 500px;
      padding-bottom: 2rem;
    }
  }
}
