@import '../styles/custom-vars';
@import '../App.scss';

.header.navbar {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid $bordercolor1;

  .navbar-brand {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    border-right: 1px solid $bordercolor1;

    .euro {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-right: 1px solid $bordercolor1;
      color: var(--bs-navbar-brand-color);

      svg {
        transform: scale(1.75);
        margin: 0.75rem 0.75rem 0 0;
      }
    }

    .nome {
      font-size: 1.1rem;
      padding: 1rem;
      font-family: 'RestoraBold';
      line-height: 1;
      color: var(--bs-navbar-brand-color);
    }
  }

  .nav-link {
    padding: 0.8rem 1rem !important;
    font-family: 'PoppinsSemiBold';
    border-right: 1px solid $bordercolor1;
    color: var(--bs-navbar-brand-color);

    a {
      font-family: 'PoppinsSemiBold';
      color: var(--bs-navbar-brand-color);

      &.active {
        color: dodgerblue;
      }
    }
  }

  .dropdown-menu {
    margin-top: 0;
    left: -1px;
    border-radius: 0;
    border-color: $bordercolor1;

    .dropdown-item {
      a {
        color: var(--bs-navbar-brand-color);

        &.active {
          color: dodgerblue;
        }
      }
    }
  }
}
