.spinner-border {
  margin: 40px !important;
  width: 80px !important;
  height: 80px !important;
  border-color: dodgerblue !important;
  border-right-color: transparent !important;
  --bs-spinner-animation-speed: 2s !important;
}