@import '../../styles/custom-vars';

.offcanvas.offcanvas-end.offcanvas__compare {
  width: 600px;
  background-color: $bodybgdark;

  .btn-close {
    color: #837e74;
  }

  .offcanvas-title.h5 {
    font-size: 2rem;
    color: $bodybg;
  }

  table.comparetable {
    border-color: $bodybgdark;

    & > :not(caption) > * > * {
      background-color: darken($bodybgdark, 5%);
    }

    th {
      font-family: 'PoppinsSemiBold';

      &.empty {
        background-color: $bodybgdark;
      }
    }

    td.name {
      font-size: 14px;
    }

    td.winner {
      background-color: #c1eb80;
      color: black;
    }
  }
}
